.TodaysComp {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 33%;
  text-align: right; }
  .TodaysComp .cityName {
    color: steelblue; }
  .TodaysComp .temp {
    font-size: 18pt; }
