.TodaysComp {
  text-align: right;

}


.QuoteComponent {
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  .time{
    font-size: 56pt;
  }
  .quoteContainer{
    align-items: center;
    height: 20%;
  }
  
}