.QuoteComponent {
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center; }
  .QuoteComponent .time {
    font-size: 46pt;
    font-family: 'open sans',arial,sans-serif; }
  .QuoteComponent .quoteContainer {
    align-items: center;
    height: 20%; }
  .QuoteComponent button {
    border-radius: 5px; }
