.App{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  /* color:hsla(128, 76%, 43%, 0.58); */
  border-radius: 5%;
  width: 85vw;
  text-shadow: black;
  height: 100vh;
  background-color: #52B3D9;

}
.weatherConditions{
  font-size: 15pt;
}
.weatherConditions p:nth-of-type(2n){
  margin-left:2rem;
}

.temp{
  font-size: 28pt;
  color: white;
}
.cityName{
  color: tomato;
  font-size: 28pt;
}
.rtl{
  direction: rtl;
  display: block;
}
input:first-of-type{
  margin-left: 6rem;
  
}
input[type=text],
textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 5rem;
  border: 1px solid #DDDDDD;
  
}
input[type=text]:focus,
textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  border: 1px solid #5cbf2a;
  margin-top: .4rem ;
  margin-bottom: .4rem;
}

@import url('https://fonts.googleapis.com/css?family=Merienda');
body {
  font-family: 'Merienda', cursive;
}

